<div class="m20 b20">
	<entity name="User" id="{{user}}">	
		<div class="valigncenter">	
			<h3>{{$parent.entitydata.Name}}</h3>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-4 ">
				<img ng-src="{{$parent.entitydata.Picture}}" class="ma30"/>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="row ma10">
					<textarea class="col-xs-12 ma20" style="height:70px"></textarea>
					<div class="l10">
						<!-- Using Border -->
						<div class="ui-item col-xs-2">
							<a role="button" style="display: inline;"  ng-click="addarticle()" class="btn"><i class="fa fa-2x fa-font black"></i></a>
						</div>
						<div class="ui-item  col-xs-2 ">
							<a role="button" style="display: inline;"  ng-click="addarticle()" class="btn"><i class="fa fa-2x fa-camera black" ></i></a>
						</div>
						<div class="ui-item  col-xs-2 ">
							<a role="button " style="display: inline;"  ng-click="addarticle()" class="btn"><i class="fa fa-2x fa-link black"></i></a>
						</div>
						<div class="ui-item col-xs-2">
							<a role="button" style="display: inline;"  ng-click="addarticle()" class="btn"><i class="fa fa-2x fa-edit black"></i></a>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</entity>
</div>

