<div class="container-fluid lightbackground homepage">
	<div class="container" scroll >
	  <div class="ma container bgwhite">
         <div class="col-md-6 col-xs-12">
			<img src="/static/assets/images/header1.jpg"/>
		 </div>
         <div class="col-md-6 col-xs-12">
           <ul class="header-social">
             <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
             <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
             <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
           </ul>
         </div>

	  </div>
	  <div class="m50">
		  <div class="col-md-7 col-xs-12" style="background-color: #fff; padding: 15px; border-radius: 10px">
			  <h1><center>Jee Aayan Nu</center></h1>
	          <div class="container mehfilmenu">
				<!-- Container fluid -->
					<div class="row">
						<div class="col-xs-8 ui-padd leaditem">
							<div class="col-xs-12  ui-padd">
								<!-- UI item -->
								<div class="ui-item">
									<a href="#"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
									<!-- UI Hover -->
									<div class="ui-hover">
									<h3><a href="#">Testing</a></h3>
				                      <ul class="cp-post-tools">
				                        <li><i class="icon-1"></i> Few Minuts Ago</li>
				                        <li><i class="icon-2"></i> Roy Miller</li>
				                        <li><i class="icon-4"></i> 57 Comments</li>
				                      </ul>
									</div>
									<!-- Image -->
								</div>
							</div>
						</div>
						<div class="col-xs-4 ui-padd">
							<div class="col-xs-12  ui-padd">
								<!-- UI item -->
								<div class="ui-item">
									<!-- UI Hover -->
									<div class="ui-hover bg-white">
									<h3><a ui-sref="phulkari">ਫੁਲਕਾਰੀ</a></h3>
									</div>
									<!-- Image -->
									<a ui-sref="phulkari"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
								</div>
							</div>
							<div class="col-xs-12 ui-padd">
								<!-- Ui Item -->
								<div class="ui-item bg-blue">
									<h3><a href="#">ਨਵੇ ਸਰੋਤੇ</a></h3>
									<!-- UI Hover -->
									<div class="ui-hover bg-white">
										<!-- Image -->
										<a href="#"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4   ui-padd">
							<!-- Ui Item -->
							<div class="ui-item">
								<!-- UI hover -->
								<div class="ui-hover bg-white">
									<h3><a ui-sref="jugnu">ਜੁਗਨੂ</a></h3>
								</div>
								<!-- Image -->
								<a ui-sref="jugnu"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
							</div>
						</div>
						<div class="col-xs-4  ui-padd">
							<!-- UI item -->
							<div class="ui-item bg-blue">
								<h3><a href="#">ਲੇਖਕ</a></h3>
								<div class="ui-hover bg-white">
									<a href="#"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
								</div>
							</div>
						</div>
						<div class="col-xs-4   ui-padd">
							<!-- Ui Item -->
							<div class="ui-item">
								<!-- UI hover -->
								<div class="ui-hover bg-white">
									<h3><a ui-sref="mehfil">Supply</a></h3>
								</div>
								<!-- Image -->
								<a ui-sref="mehfil"><img src="/static/assets/images/cover.jpg" alt="" class="img-responsive" /></a>
							</div>
						</div>
					</div>
			  </div>
	          
		  </div>
		  <div class="col-md-5 col-xs-12"   ng-controller="LoginController">
			<div class="panel" style="background-color: #fff; padding: 15px; border-radius: 10px">
		        	<h3 class="text-center">Login with</h3>
				<div class="row">
				  <div class="col-xs-6 col-sm-6 col-md-6">
					<a class="btn btn-block btn-social btn-facebook">
    						<i class="fa fa-facebook"></i> Facebook
  					</a>
				  </div>
				  <div class="col-xs-6 col-sm-6 col-md-6">
					<a ng-click="oauthLogin('{{google}}')" class="btn btn-block btn-social btn-google">
    						<i class="fa fa-google"></i> Google
  					</a>
				  </div>
				</div>
				<div class="login-or">
				  <hr class="hr-or">
				  <span class="span-or">or</span>
				</div>
		        <form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputUsernameEmail" class="col-xs-4 control-label">Email</label>
					    <div class="col-xs-8">
					      <input type="email" class="form-control" placeholder="Email"  id="inputUsernameEmail" ng-model="username"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword" class="col-xs-4 control-label">Password</label>
					    <div class="col-xs-8">
					      <input type="password" class="form-control" placeholder="Password"  id="inputPassword" ng-model="password"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-xs-offset-4 col-xs-8">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox"/> Remember me
					        </label>
					      </div>
					    </div>
					  </div>
					  <div class="row">
				      	  <button class="btn btn-link col-xs-3">Forgot password?</button>
						  <button type="submit" type="submit" ng-click="login()" class="btn btn-large btn-primary col-xs-offset-6">Submit</button>
					  </div>
		        </form>
				<hr/>
		        	<h3 class="text-center">New User</h3>
		        <form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputName1" class="col-xs-4 control-label">Full Name</label>
					    <div class="col-xs-8">
					      <input type="text" class="form-control" id="inputName1" placeholder="Name"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail1" class="col-xs-4 control-label">Email</label>
					    <div class="col-xs-8">
					      <input type="email" class="form-control" id="inputEmail1" placeholder="Email"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-xs-4 control-label">Password</label>
					    <div class="col-xs-8">
					      <input type="password" class="form-control" id="inputPassword1" placeholder="Password"/>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-xs-4 control-label">Retype Password</label>
					    <div class="col-xs-8">
					      <input type="password" class="form-control" id="inputPassword2" placeholder="Password"/>
					    </div>
					  </div>
					  <button type="submit" class="btn btn-large btn-primary col-xs-offset-9">Register</button>
		        </form>
			</div>
		  </div>
	  </div>
	</div>
  <!-- Footer Start -->
  <footer id="footer" class="footer">
 
    <div class="footer-four">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>All Rights Reserved 2015 © MaterialMag, Designed & Developed by <a href="http://crunchPress.com" target="_blank">CrunchPress.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End --> 
<!-- Js Files--> 
</div>

<div class="container-fluid">
  
  
  
</div>
<!-- Main Wrapper End --> 



