<page>
	<div class="container ">  
	
	  <div class="row bgwhite">
		<div class="col-sm-8 col-xs-12  ">
			<div class="s10 m20 bgwhite container">
				<div>
					<ng-include src="'app/main/homecard.html'" class="userplate " >
					</ng-include>
			          <!-- Grid Style 5 Start -->
			          <div class="m20 postslist">
						<view url="/view/userfeed?userid={{user}}" paginate="true" pagesize="25">
			              <!-- News Start -->
						  <div ng-repeat="viewrow in $parent.viewrows">
							<post post="$parent.viewrow" viewmode="timeline" class="m20">
							</post>
			              </div>
			              <!-- News End --> 
			            </view>			
			 		  </div>
				</div>
			</div>	          
	          <!-- Grid Style 5 End --> 
		</div>
		<div class="col-sm-4 col-xs-12" >
			<div class="s10 m20 bgwhite container">
				<div class="m20 s10">
					<div class="sidebar side-bar right-sidebar">            
			            <!--Popular Post Widget Start -->
			            <div class="widget latest-posts ">
			              <h3 class="side-title">Mehfils</h3>
			              <div class="cp-sidebar-content">
			                <view  url="/view/mehfils" args='{"Tags":"frontpage"}'>
								<ul  class="small-grid">
				                  <li ng-repeat="viewrow in $parent.viewrows">
								 	<mehfil class="small-post" mehfil='$parent.viewrow' viewmode="sidebar">
									</mehfil>
				                  </li>
								</ul>
			                </view>
			              </div>
			            </div>
			            
						<!-- Container fluid -->
						<div class="row p20 m10">
							<img src="static/assets/images/sidebarad.jpg"/>
						</div>	
				        <!-- Advertisement Start -->
			            <div class="widget advertisement">
			              <div class="ad-holder"><img src="static/assets/images/sidebarad.jpg" alt=""></div>
			            </div>
			
						<!--Popular Post Widget Start -->
			            <div class="widget latest-posts ">
			              <h3 class="side-title">Latest Posts</h3>
			              <div class="cp-sidebar-content">
			                <view  url="/view/posts" args='{"Tags":"latest_posts"}'>
								<ul  class="small-grid">
				                  <li ng-repeat="viewrow in $parent.viewrows">
								 	<post class="small-post" post='$parent.viewrow'>
									</post>
				                  </li>
								</ul>
			                </view>
			              </div>
			            </div>
			                       
			            <!-- Advertisement Start -->
			            <div class="widget advertisement">
			              <div class="ad-holder"><img src="static/assets/images/sidebarad.jpg" alt=""></div>
			            </div>
			            <!-- Advertisement End --> 
			            
			            <!-- Tags Start -->
			            <div class="widget tags-widget ">
			              <h3 class="side-title">Tags</h3>
			              <div class="cp-sidebar-content"> <a href="#">Lifestyle</a> <a href="#">Business</a> <a href="#">Audio</a> <a href="#">Sports</a> <a href="#">Photography</a> <a href="#">Fashion</a> <a href="#">Technology</a> <a href="#">Reviews</a> <a href="#">Politics</a> <a href="#">Video</a> </div>
			            </div>
			            <!-- Facebook End --> 
			            
			            <!-- Facebook Start -->
			            <div class="widget facebook-widget">
			              <h3 class="side-title">Facebook</h3>
			              <div class="cp-sidebar-content">
			                <div id="fb-root"></div>
			                <script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=133982306765662";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			                <div class="fb-page" data-href="https://www.facebook.com/crunchpress.themes" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
			                  <div class="fb-xfbml-parse-ignore">
			                    <blockquote cite="https://www.facebook.com/crunchpress.themes"><a href="https://www.facebook.com/crunchpress.themes">CrunchPress</a></blockquote>
			                  </div>
			                </div>
			              </div>
			            </div>
			            <!-- Facebook End --> 
			          </div>
			        </div>
			        <!-- Right Sidebar --> 
				</div>

			</div>
	            	                       	        
	    </div>
	  </div>
  
	  
	</div>
</page>
