@import 'reactwebcommon/css/app';

.dashboard {
  @extend .fd, .fdcol, .fdgrow;
  .header {
    @extend .row, .m0, .p10, .fdrow, .between-xs;
    .logo {
      a {
        display: flex;
        img {
          display: block;
        }
      }  
    }
    .title {
      @extend .start-xs;
    }
    .infoBlock {
    }
  }
  .dashlogin {
    @extend .center-xs, .row, .p20;
  }
  .entityform {
    @extend .ps20, .m20;
  }
  .body {
    @extend .fd, .fdgrow;
    .horizmenu{
      .menu {
        @extend .fdrow;
      }
      @extend .w100;
    }
    .menu {
      @extend .fd;
      justify-content: space-between;
    }
    .vertbody{
      @extend .fdgrow;
    }
    .vertmenu {
      .menu {
        @extend .fdcol;
      }
      @extend .fd;
    }
    .horizbody{
      @extend .w100, .fdgrow;
    }
  }
}
