<page name="words">
	<h1>Words for review</h1>
	<div class="row-fluid">
		<view name="view_entities" editable="true"  action="/word" args='{"entity":"Word"}'>
			<viewsearch class="row-fluid">
				<h4>Search</h4>
				<label>Word</label>
				<input type="input" ng-model="$parent.params.WordGur"></input>
				<label>Reviewed</label>
				<input type="checkbox" ng-model="$parent.params.Reviewed" label="Word"></input>
		        <button type="button" ng-click="$parent.applyFilter()" class="btn pull-right margin5">Apply Filter</button>	
	        		<button type="button" ng-click="$parent.resetFilter()" class="btn pull-right margin5">Reset Filter</button>	
			</viewsearch>
			<table ng-model="$parent.viewrows" class="table table-striped ">
				<thead>
					<tr>
						<th>
							Gurmukhi
						</th>
						<th>
							English
						</th>
						<th>
							Reviewed
						</th>
					</tr>
				</thead>
				<tr ng-repeat="viewrow in $parent.viewrows">
					<td style="width:40%">
						{{viewrow.WordGur}}
					</td>
					<td style="width:40%">
						<input type="text" ng-model="viewrow.WordEng"></input>
					</td>
					<td style="width:20%">
						<input type="checkbox" ng-model="viewrow.Reviewed"></input>
					</td>
				</tr>
			</table>
		</view>			
	</div>
</page>

