<page name="words">
	<h1>Words</h1>
	<div class="row-fluid clearfix">
		<action class="margin10 pull-right" widget="button" label="New Words" name="New Words">
		</action>
		<action class="margin10 pull-right" widget="button" label="Review Words" name="Review Words">
		</action>
		<action class="margin10 pull-right" widget="button" label="Create Word" name="Create Word">
		</action>
	</div>
	<view class="row-fluid clearfix" name="view_entities" args='{"entity":"Word"}'>
		<viewsearch class="row-fluid">
			<h4>Search</h4>
			<label>Word</label>
			<input type="input" ng-model="$parent.params.WordGur" label="Word"></input>
	        <button type="button" ng-click="$parent.applyFilter()" class="btn pull-right margin5">Apply Filter</button>	
	        <button type="button" ng-click="$parent.resetFilter()" class="btn pull-right margin5">Reset Filter</button>	
		</viewsearch>
		<table class="table table-striped row-fluid">
			<thead>
				<tr>
					<th>
						Gurmukhi
					</th>
					<th>
						English
					</th>
					<th>
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tr ng-repeat="viewrow in $parent.viewrows">
				<td style="width:30%">
					{{viewrow.WordGur}}
				</td>
				<td style="width:30%">
					{{viewrow.WordEng}}
				</td>
				<td>
					<a href="#/word/edit/{{viewrow.WordGur}}">edit</a>
				</td>
				<td>
					<a href="#/word/delete/{{viewrow.WordGur}}">delete</a>
				</td>
			</tr>
		</table>
	</view>			
</page>

